<config>
    <modules>
        <Magentotutorial_Complexworld>
            <version>0.1.0</version>
        </Magentotutorial_Complexworld>
    </modules>
    <frontend>
        <routers>
            <complexworld>
                <use>standard</use>
                <args>
                    <module>Magentotutorial_Complexworld</module>
                    <frontName>complexworld</frontName>
                </args>
            </complexworld>
        </routers>
    </frontend>
</config>