<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <My_Module>
            <version>0.1.0</version>
        </My_Module>
    </modules>
    <crontab>
        <jobs>
            <mymodule_helloworld>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>my_module/job_hello::run</model>
                </run>
            </mymodule_helloworld>
        </jobs>
    </crontab>
</config>