<config>
    <modules>
        <Magentotutorial_Helloword>
            <version>0.1.0</version>
        </Magentotutorial_Helloword>
    </modules>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Magentotutorial_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
    </frontend>
</config>